.backandForwardButtons_button{
    background-color: var(--bg-input);
    width: 90px;
    height: auto;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: left;
    padding: 0.35em;
    cursor: pointer;
    color: var(--txt-color-input);
    padding-left: 0.8em;
    margin-right: 1em;
}
.backandForwardButtons_button:hover{
    transition: all 200ms ease-in-out;
    background-color: var(--bg-input-hover);
}