.drop{
    width: clamp(310px, 95%, 370px);
    background-color: var(--bg-input);
    color: var(--txt-color-input);
    height: auto;
    padding: 1.15em;
    border: none;
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 1.05em;
    text-align: center;
    border-radius: 0 0.3em 0.3em 0;
    cursor: pointer;
}
.drop:hover{
    transition: all 200ms ease-in-out;
    background-color: var(--bg-input-hover);
    width: 368px;
}

/*Drop-down menu styles...*/
.menu{
    z-index: 1;
    width: clamp(310px, 95%, 370px);
    height: auto;
    background-color: var(--bg-input);
}
.menu ul{
    width: 100%;
    list-style: none;
}
.menu ul li{
    padding: 1em;
    color: var(--txt-color-input);
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.menu ul li:hover{
    background-color: var(--bg-input-hover);
}

/*media query*/
@media screen and (max-width: 980px){
    .drop{
        width: 100%;
        border-radius: 0.3em;
    }
    .drop:hover{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
}