/*Here we have the styles of the app component...*/
header{
  width: 100%;
  color: white;
  background-color: var(--main-color); 
  padding: 1.2em 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.03em;
  border-bottom: 0.5px solid rgb(115, 107, 107);
}

section{
  background-color: var(--dark-blue);
  width: 100%;
  height: auto;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

main{
  border: 1px solid red;
  width: 100%;
  margin-top: 1em;
  padding: 2em 0;
}